<! doctype html >
<!-- gnewarchaeology home page -->

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>gnewarchaeology</title>
    <meta charset="utf-8">
    <meta name="application-name" content="Home page">
    <meta name="author" content="Domenico Giusti <dncgst@gnewarchaeology.it>">
    <meta http-equiv="Refresh" content="300">
  </head>

  <body>

    <!-- header -->
    <header>

      <figure>
	<img src="images/gnew.png">
      </figure>
      <nav>
	<a href="#" id="header">
	  <figure>
	    <img src="images/gnew.png">
	  </figure>
	</a>
	<ul>
	  <li><a href="pages/about.md">about</a></li>
	  <li><a href="pages/research.md">research</a></li>
	  <li><a href="https://github.com/dncgst/">code</a></li>
	  <li><a href="https://gist.github.com/dncgst/">gist</a></li>
	  <li><a href="http://wiki.gnewarchaeology.it">wiki</a></li>
	  <li><a href="https://cloud.gnewarchaeology.it">cloud</a></li>
	</ul>
      </nav>

    </header>

    <!-- posts -->
    <section id="posts">
      <div class="post">
	
	<article class="post-content">
	  {{ content }}
	</article>
	
	<ul class="post-list">
	  {% for post in site.posts %}
	  {% if post.type == "news" %}
	  <li>
	    <strong>{{ post.title }}</strong>
	    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br/>
	    {{ post.content }}
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>
	
      </div>	
    </section>

    <!-- contact -->
    <section id="contact">
      <div class="contact">
	<h3>Contact</h3>
      </div>
      <address>
	<a href="http://www.gnewarchaeology.it">www.gnewarchaeology.it</a></br>
	<a href="mailto:dncgst@gnewarchaeology.it">dncgst(at)gnewarchaeology(dot)it</a></br>
	<a>(+39) 3936476718</a></br></br>
      </address>
    </section>

    <!-- footer -->
    <footer>
      <address>
	<p>Except where otherwise noted, content on this site is available under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA Unported</a> license.</p>
	<p></p>
	<nav>
	  <p>
	    <a href="http://www.gnewarchaeology.it">www.gnewarchaeology.it</a>
	  </p>
	</nav>
      </address>
    </footer>

  </body>
  
</html>
